<!DOCTYPE html>
<html ng-app=''>
  <head>
    <meta charset="utf-8">
    <title>Jerrod's Contact Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/bootstrap-theme.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- END OF BOOTSTRAP -->
    <script src="angular/angular.js" charset="utf-8"></script>
    <script src="angular-route/angular-route.js" charset="utf-8"></script>
    <!-- End Bower Components -->
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/contact.css">
  </head>
  <body class="container main_back">
    <div class="row">
      <div class="col-xs-12">
        <img class="profile" src="static/images/personal.jpg" alt="profile_pic">
        <h1 class="shadow">Jerrod Quintana</h1>
        <hr>
        <h3 class="shadow">Full Stack Web Developer in the Dallas Fort Worth Area</h3>
      </div>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"><img class="hamburger" src="./static/images/hamburger.png" alt="navbar-icon"></span>
      </button>
    </div>
    <nav class="navbar ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="non_selected"><h4><a href="/">Home</a></h4></li>
            <li class="non_selected"><h4><a href="/algorithms">Algorithms</a></h4></li>
            <li class="non_selected"><h4><a href="/projects">Projects</a></h4></li>
            <li class="selected"><h4><a href="/contact">Contact</a></h4></li>
          </ul>
        </div>
      </div>
    </nav><!-- END NAVBAR -->

    <ul class="contact col-xs-12">
      <li><img class="phone" src="/static/images/phone.jpg" alt="mail"><h4>(432) 638-0512</h4></li>
      <li><a href="mailto:jerrodq2@yahoo.com"><img class="mail " src="/static/images/mail.jpg" alt="mail"><h4>jerrodq2@yahoo.com</h4></a></li>
      <li><a href="https://www.linkedin.com/in/jerrodquintana"><img class="link" src="/static/images/linkedin.svg" alt="mail"><h4>LinkedIn</h4></a></li>
      <li><a href="https://github.com/jerrodq2"><img class="git" src="/static/images/mark-github.svg" alt="mail"><h4>GitHub</h4></a></li>
    </ul>

  </body>
</html>
