<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jerrod's Contact Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="/static/images/initials_favicon.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- END OF BOOTSTRAP/JQUERY -->

    <script src="angular/angular.min.js" charset="utf-8"></script>
    <script src="angular-route/angular-route.min.js" charset="utf-8"></script>
    <!-- End Bower Components -->
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/contact.css">
  </head>
  <!-- END HEADER -->






  <!-- START BODY -->
  <body class="container contact_back">
    <div class="row">
      <div class="col-xs-12">
        <img class="profile" src="static/images/personal-min.jpg" alt="profile_pic">
        <h1 class="shadow">Jerrod Quintana</h1>
        <hr>
        <h3 class="shadow">Full Stack Developer in the Dallas Fort Worth Area</h3>
      </div>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"><img class="hamburger" src="./static/images/hamburger-min.png" alt="navbar-icon"></span>
      </button>
    </div>
    <nav class="navbar ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="non_selected"><h4><a href="/">Home</a></h4></li>
            <li class="non_selected"><h4><a href="/algorithms">Algorithms</a></h4></li>
            <li class="non_selected"><h4><a href="/projects">Projects</a></h4></li>
            <li class="selected"><h4><a href="/contact">Contact</a></h4></li>
          </ul>
        </div>
      </div>
    </nav><!-- END NAVBAR -->

    <ul class="contact col-xs-12">
      <li><img class="phone" src="/static/images/phone-min.jpg" alt="mail"><h4>(432) 638-0512</h4></li>
      <li><a href="mailto:jerrodq2@yahoo.com"><img class="mail " src="/static/images/mail-min.jpg" alt="mail"><h4>jerrodq2@yahoo.com</h4></a></li>
      <li><a href="https://www.linkedin.com/in/jerrodquintana"><img class="link" src="/static/images/linkedin.svg" alt="mail"><h4>LinkedIn</h4></a></li>
      <li><a href="https://github.com/jerrodq2"><img class="git" src="/static/images/mark-github.svg" alt="mail"><h4>GitHub</h4></a></li>
    </ul>

  </body>
</html>
