<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jerrod's Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="/static/images/initials_favicon.ico" />
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/bootstrap-theme.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- END OF BOOTSTRAP -->
    <script src="angular/angular.min.js" charset="utf-8"></script>
    <script src="angular-route/angular-route.min.js" charset="utf-8"></script>
    <!-- End Bower Components -->
    <link rel="stylesheet" href="./static/css/main.css">
  </head>
  <!-- END HEAD -->





  <!-- START BODY -->
  <body class="container project_back">
    <div class="row">
      <div class="col-xs-12">
        <img class="profile" src="static/images/personal-min.jpg" alt="profile_pic">
        <h1 class="shadow">Jerrod Quintana</h1>
        <hr>
        <h3 class="shadow">Full Stack Developer in the Dallas Fort Worth Area</h3>
      </div>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"><img class="hamburger" src="./static/images/hamburger-min.png" alt="navbar-icon"></span>
      </button>
    </div>
    <nav class="navbar ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="non_selected"><h4><a href="/">Home</a></h4></li>
            <li class="non_selected"><h4><a href="/algorithms">Algorithms</a></h4></li>
            <li class="selected"><h4><a href="/projects">Projects</a></h4></li>
            <li class="non_selected"><h4><a href="/contact">Contact</a></h4></li>
          </ul>
        </div>
      </div>
    </nav><!-- END NAVBAR -->

    <div class="project col-xs-12">
      <div class="row">
        <div class="col-xs-12 proj">
          <div  class="col-xs-12 col-md-6">
            <h2 class="project_title"><a href="http://54.214.126.132">Gamer's For Life Message Board</a></h2>
            <p class="project_date"><small>Created 1/2017</small></p>
            <p>A project I did myself for practice and to showcase some of my skills. It was built using full MEAN (Node.js, Express.js, AngularJS 1, and MongoDB), with css, media queries and bootstrap to be as responsive as possible. The focus of the project was MEAN and angularjs functionality/proficiency with a basic messaging forum site. A simple message board inspired by my love of video games, you can create topics, post, comment, like, flag, delete anything you created, or anything anyone else created in your topic, ect. Admins can delete anything, view support or help tickets, and manage the site.</p>
          </div>
          <a href="http://54.214.126.132"><img class="col-xs-12 col-md-6" src="/static/images/message_board-min.png" alt=""></a>
        </div>


        <div class="col-xs-12 proj">
          <div  class="col-xs-12 col-md-6">
            <h2 class="project_title"><a href="http://54.191.149.203/">Red Ribbon</a></h2>
            <p class="project_date"><small>Created 12/2016</small></p>
            <p>A project I did as part of a team for a hackathon called First Hack Dallas in November of 2016. It was a hackathon for junior developers with the intention of building a website for Red Ribbon, a group dedicated to helping people fight AIDS. It was built using Python, the Pylot framework, and MySQL for the database. I was initially in charge of the database and half of back end programming. None of the teams were able to finish in the allotted time, however I later finished the site on my own, fixing all the bugs, and adding onto it, both front end and back end. The focus was the ability for people to sign up and browse the different services available to them, and the ability to search services by different criteria, such as gender dependent, age, etc. </p>
          </div>
          <a href="http://54.191.149.203/"><img class="col-xs-12 col-md-6" src="/static/images/red_ribbon-min.png" alt=""></a>
        </div>


        <div class="col-xs-12 proj">
          <div  class="col-xs-12">
            <h2>Future Projects</h2>
            <p>Currently, i'm working on increasing my proficiency with the technologies I already know, especially MEAN, and starting to freelance as a web developer.</p>
          </div>
        </div>



      </div>
    </div>

  </body>
</html>
