<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jerrod's Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="/static/images/initials_favicon.ico" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- END OF BOOTSTRAP/JQUERY -->

    <script src="angular/angular.min.js" charset="utf-8"></script>
    <script src="angular-route/angular-route.min.js" charset="utf-8"></script>
    <!-- End Bower Components -->
    <link rel="stylesheet" href="./static/css/main.css">
    <script type="text/javascript" src="static/js/navbar_jquery.min.js"></script>
  </head>
  <!-- END HEAD -->





  <!-- START BODY -->
  <body class="container project_back">

    <header>
      <div class="row">
        <div class="col-xs-12">
          <img class="profile" src="static/images/personal-min.jpg" alt="profile_pic">
          <h1 class="shadow">Jerrod Quintana</h1>
          <hr>
          <h3 class="shadow">Full Stack Developer in the Dallas Fort Worth Area</h3>
        </div>
      </div>


      <nav class="navbar container-fluid custom-navbar">
            <ul class="nav">
              <li class="non_selected"><h4><a href="/">Home</a></h4></li>
              <li class="non_selected"><h4><a href="/algorithms">Algorithms</a></h4></li>
              <li class="selected"><h4><a href="/projects">Projects</a></h4></li>
              <li class="non_selected"><h4><a href="/contact">Contact</a></h4></li>
            </ul>
      </nav>
      <div class="navbar-header">
        <button type="button" class="custom-hamburger">
          <span class="icon-bar"><img class="hamburger" src="./static/images/hamburger-min.png" alt="navbar-icon"></span>
        </button>
      </div> <!-- END NAVBAR -->
      <div class="hamburger-navbar">
        <ul class="second-navbar">
          <li><h4><a href="/">Home</a></h4></li>
          <li><h4><a href="/algorithms">Algorithms</a></h4></li>
          <li class="current"><h4><a href="/projects">Projects</a></h4></li>
          <li><h4><a href="/contact">Contact</a></h4></li>
        </ul>
      </div>
    </header>

    <div class="project col-xs-12">
      <div class="row">
        <div class="col-xs-12 proj">
          <div  class="col-xs-12 col-md-6">
            <h2 class="project_title"><a href="http://54.245.220.34/">Architecture Advertising Website</a></h2>
            <p class="project_date"><small>Technologies Used - HTML, CSS, jQuery, PHP</small></p>
            <p class="project_date"><small>Created 10/2017</small></p>
            <p>A project I created specifically for my portfolio to serve as an example of a front end site and showcase some of my skills. Focus was on pure front end functionality, utiziling HTML, CSS, and media queries for responsiveness, as well as jQuery for additional functionality. It also uses php to implement an email functionailty,  emailing me upon either form submission.</p>
          </div>
          <a href="http://54.245.220.34/"><img class="col-xs-12 col-md-6" src="/static/images/architecture_site-min.png" alt=""></a>
        </div>

        <div class="col-xs-12 proj">
          <div  class="col-xs-12 col-md-6">
            <h2 class="project_title"><a href="http://54.214.126.132">Gamer's For Life Message Board</a></h2>
            <p class="project_date"><small>Technologies Used - Node.js, Express.js, AngularJS 1, MongoDB, HTML, CSS, Bootstrap</small></p>
            <p class="project_date"><small>Created 1/2017</small></p>
            <p>A project I did myself for practice and to showcase some of my skills. It was built using full MEAN, with css, media queries and bootstrap to be as responsive as possible. The focus of the project was MEAN and angularjs functionality/proficiency with a basic messaging forum site. A simple message board inspired by my love of video games, you can create topics, post, comment, like, flag, delete anything you created, or anything anyone else created in your topic, ect. Admins can delete anything, view support or help tickets, and manage the site.</p>
          </div>
          <a href="http://54.214.126.132"><img class="col-xs-12 col-md-6" src="/static/images/message_board-min.png" alt=""></a>
        </div>


        <div class="col-xs-12 proj">
          <div  class="col-xs-12 col-md-6">
            <h2 class="project_title"><a href="http://54.191.149.203/">Red Ribbon</a></h2>
            <p class="project_date"><small>Technologies Used - Python, MySQL, Pylot, HTML, CSS, Bootstrap, jQuery</small></p>
            <p class="project_date"><small>Created 12/2016</small></p>
            <p>A project I did as part of a team for a hackathon in November of 2016. It was a hackathon with the intention of building a website for Red Ribbon. It was built using Python, the Pylot framework, and MySQL for the database. I was initially in charge of the database and half of back end. None of the teams were able to finish in the allotted time, however I later finished the site on my own, fixing all the bugs, and adding onto it, both front and back end. The focus was the ability for people to sign up and browse the different services available to them, and the ability to search services by different criteria.</p>
          </div>
          <a href="http://54.191.149.203/"><img class="col-xs-12 col-md-6" src="/static/images/red_ribbon-min.png" alt=""></a>
        </div>


        <div class="col-xs-12 proj">
          <div  class="col-xs-12">
            <h2>Future Projects</h2>
            <p>Currently, i'm working on increasing my proficiency with the technologies I already know, continuing to learn strong coding practices, and polishing my front end skills by learning and working with React Redux.</p>
            <p><small>*Last updated 2/21/2018</small></p>
          </div>
        </div>



      </div>
    </div>

  </body>
</html>
