.container{
  margin-top: 40px;
  padding-bottom: 30px;
}
.main_back{
  background-image: url("../images/dallas.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  align-items: center;
}
.shadow{
  text-shadow: 4px 4px black;
}
.profile{
  width: 300px;
  height: 170px;
  border-radius: 10%;
  display: block;
  margin: auto;

}
.main_back a{
  color: white;
}
.navbar-header{
  margin-bottom: 25px;
}
.hamburger{
  width: 40px;
}
.navbar{
  margin-left: 26%
}
.nav li{
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 15%;
}
.navbar-toggle{
  float: left;
  margin-left: 10px;
}
.non_selected{
  background-color: #373737;
  opacity: 0.8;
}
.selected{
  background-color: darkgrey;
}
.about{
  background-color: #373737;
  opacity: 0.9;
}
.about li{
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
}
.about p{
  text-align: left
}
.about span{
  color: darkgrey;
}

.project{
  background-color: #373737;
  padding-top: 10px;
  padding-bottom: 20px;
}
.proj{
  margin-bottom: 20px;
}
.project img{
  width: 500px;
  margin: auto;
}
.alg{
  background-color: #373737;
  opacity: 0.9;
  padding-top: 10px;
}
.alg h3{
  margin-top: 0;
}
.alg ul{
  text-align: left;
  padding-bottom: 10px;
}
.alg li{
  list-style-type: none;
}
.alg_img{
  width: 100%;
  margin: auto;
  overflow-x: auto;
}
@media all and (max-width: 959px){ /* TABLET SIZED SCREENS */
  .navbar{
    margin-left: 13%;
  }
  .shadow{
    text-shadow: 2px 2px black;
  }
  .project img{
    width: 80%;
    margin: auto;
    float: none;
  }
  .alg_img{
    width: 80%;
    margin: auto;
    overflow-x: auto;
  }
}
@media all and (max-width: 480px){ /* SMALL AND EXTRA SMALL */
  .navbar{
    margin-left: 0%;
    float: left;
  }
  .navbar li{
    margin-top: 10px;
  }
  .shadow{
    text-shadow: 2px 2px black;
  }
  .project img{
    width: 380px;
    margin: 10px auto;
  }
  .alg_img{
    width: 100%;
    margin: auto;
    overflow-x: auto;
  }
}
