.container{
  margin-top: 40px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
.main_back{
  background-image: url("../images/main_back-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.algorithm_back {
  height: 100%;
  background-image: url("../images/algo3-min.jpg");
	back
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.project_back {
  height: 100%;
  background-image: url("../images/project_back2-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.contact_back {
  height: 100%;
  background-image: url("../images/contact_back-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.default_back {
  height: 100%;
  background-image: url("../images/default_back-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}





.shadow{
  text-shadow: 4px 4px black;
  font-weight: bold;
}
.note{
	text-shadow: 2px 2px black;
  font-weight: bold;
	color: #e91e1e;
}
.profile{
  width: 300px;
  height: 270px;
  border-radius: 10%;
  display: block;
  margin: auto;

}

a{
  color: white;
}

.navbar-header{
  margin-bottom: 25px;
}
.custom-hamburger{
  display: none;
  background-color: transparent;
  border: none;
}
.hamburger{
  width: 60px;
  background-color: #373737;
  padding: 10px;
  border: .5px solid grey;
  border-radius: 5px;
}
.hamburger-navbar{
  display: none;
}
.second-navbar{
  width: 100%;
  list-style: none;
  padding: 10px 0;
  background-color: #373737;
}
.second-navbar li{
  display: inline-block;
  width: 24%;
}
.current{
  border-bottom: 5px solid darkgrey;
}

.navbar{
  margin: 0 auto;
}
.nav li{
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 15%;
  display: inline-block;
}
.non_selected{
  background-color: #373737;
  opacity: 0.8;
}
.selected{
  background-color: darkgrey;
}
.about{
  background-color: #373737;
  opacity: 0.9;
  padding: 15px;
}
.about ul{
  margin-bottom: 50px;
}
.about li{
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
}
.about p{
  text-align: left
}
.about span{
  color: darkgrey;
}
.about small{
  text-align: right;
  margin-bottom: 50px;
  display: block;
}

.project{
  background-color: #373737;
  padding-top: 10px;
  padding-bottom: 20px;
}
.proj{
  margin-bottom: 20px;
}
.project img{
  width: 500px;
  margin: auto;
}
.project_title{
  margin: 0;
}
.project_date{
  margin-bottom: 0;
}
.alg{
  background-color: #373737;
  opacity: 0.9;
  padding-top: 10px;
}
.alg h3{
  margin-top: 0;
}
.alg ul{
  text-align: left;
  padding-bottom: 10px;
}
.alg li{
  list-style-type: none;
}
.algorithm_img{
  height: 600px;
  width: 100%;
  margin: auto;
  overflow-x: auto;
}



/*RESPONSIVE FOCUSED CSS*/
@media all and (max-width: 1200px) { /* Large Devices, Wide Screens */
  .project img{
    width: 450px;
  }
}



@media all and (max-width: 992px){ /* Medium Devices, Desktops */
  .navbar{
    margin-left: 13%;
  }
  .shadow{
    text-shadow: 2px 2px black;
  }
  .project img{
    width: 80%;
    margin: auto;
    display: block;
    float: none;
    margin-bottom: 100px;
  }
  .alg_img{
    width: 80%;
    margin: auto;
    overflow-x: auto;
  }
}



@media all and (max-width: 768px){ /* Small Devices, Tablets */
  .custom-hamburger{
    display: block;
  }
  .custom-navbar{
    display: none;
  }
  .about ul {
    padding: 0;
  }
  .about li{
    text-align: left;
  }
  .alg ul{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .second-list li:last-of-type{
    margin-bottom: 10px;
  }
  .nav li{
    margin-bottom: 20px;
  }
}




@media all and (max-width: 480px){ /* SMALL AND EXTRA SMALL */
  .navbar{
    margin-left: 0%;
    float: left;
  }
  .navbar li{
    margin-top: 10px;
  }
  .shadow{
    text-shadow: 2px 2px black;
  }
  .project img{
    width: 100%;
  }
  .alg_img{
    width: 100%;
    margin: auto;
    overflow-x: auto;
  }
}
